<div id="book-container">
	<div id="book-navbar" class="scrollable">
		<div id="author-wrapper">
			<div class="avatar"> <img class="cover-image-responsive" ng-src="{{ book.author.avatar }}"/></div>
			<div id="author-name"><h4>&nbsp&nbsp{{ book.author.name }}</h4></div>
		</div>		
	</div>
	<div id="book-content">
		<div id="title-wrapper" class="text-centered">
			<div class="title"><h2>{{ book.name }}</h2></div>
		</div>
		<div id="cover-wrapper" class="text-centered">
			<div id="cover">
				<div class="ipad"><img class="cover-image-responsive" ng-src="{{ book.cover }}"/></div>	
			</div>
		</div>	
		<div id="votes-published-wrapper" class="text-centered">
			<div class="votes-wrapper">
				<div class="votes">{{ book.likes }} </div>
				<div class="like"></div>
			</div>
			<div class="published">{{ book.published | timeAgo }}</div>
		</div>
		<div class="genre-wrapper text-centered">
			<span class="tag"> {{ book.genre.name }} </span>
			<span class="tag">{{ book.genre.category }} </span>
		</div>
		<div id="description" class="text-centered"><h5>{{ book.description }}</h5></div>
		<div id="introductory-contents-wrapper">
			<hr>
			<introductory-contents introduction="book.introduction"></introductory-contents>
		</div>
	</div>
	<div id="related-books-wrapper">
		<related-books books="books" book="book"></related-books>
	</div>
</div>