<div id="books-index-navbar">
	<div id="books-index-menu" class="scrollable">
	<ul>
		<li>
			<input type="text" id="query" placeholder="Search" ng-change="search()" ng-model="query"/>
		</li>
		<li>
			<b>Category:</b>
	    	<select name="category" ng-model="categoryFilter" ng-change="filterByCategory()">
	    		<option ng-repeat="category in categoriesList" value="{{ category }}"> {{ category }} </option>
		     	<option value="">All</option>
		    </select>
		</li>
		<li>
			<b>Genre:</b>
	    	<select name="genre" ng-model="genreFilter" ng-change="filterByGenre()">
		      <option ng-repeat="genre in genresList" value="{{ genre }}"> {{ genre }} </option>
		      <option value="">All</option>
		    </select>
		</li>
	</ul>
	</div>
	<div><h5>{{ filteredItems.length }} result<span ng-hide="filteredItems.length == 1">s</span> found</h5></div>	
</div>