<div ng-hide="relatedBooks.length == 0" >
	<div class="related-books-tag-info text-centered">
		<h5>{{ relatedBooks.length }} related book<span ng-hide="relatedBooks.length == 1">s</span> for the category <b>'{{ book.genre.name }}' / '{{ book.genre.category }}'</b>  </h5>
	</div>
    <ul id="related-books" class="scrollable">
        <li class="related-book-info-wrapper" ng-repeat="book in relatedBooks">
			<a ui-sref="books.open({ bookName: book.name.split(' ').join('-') })">
				<div class="related-book-info-container">
					<div class="info-cover ipad"><img class="cover-image-responsive" ng-src="{{ book.cover }}"/></div>
					<div class="info-row"> <div class="title centered" style="width: auto"><h6>{{ book.name }}</h6></div> </div>
					<div class="info-row"><div class="author centered" style="width: auto"><h6>By {{ book.author.name }}<h6></div></div>
				</div>
			</a>
		</li>
    </ul>
</div>

